# below is the exports from rc.sh file


export OS_AUTH_URL="https://cloud.api.selcloud.ru/identity/v3"
export OS_IDENTITY_API_VERSION="3"
export OS_VOLUME_API_VERSION="3"

export CLIFF_FIT_WIDTH=1

export OS_PROJECT_DOMAIN_NAME=
export OS_PROJECT_ID=
export OS_TENANT_ID=
export OS_REGION_NAME=

export OS_USER_DOMAIN_NAME=
export OS_DOMAIN_NAME=

export OS_USERNAME=
export OS_PASSWORD=

export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

export TF_VAR_project_id=${OS_PROJECT_ID}
export TF_VAR_region=${OS_REGION_NAME}
export TF_VAR_selectel_user_name=${OS_USERNAME}
export TF_VAR_selectel_user_password=${OS_PASSWORD}
export TF_VAR_selectel_domain_name=${OS_PROJECT_DOMAIN_NAME}

export HF_TOKEN=



